<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Admission</title>
    </head>
    <body>
        <div class="banner-section">
            <img src="../static/images/banner.jpg">
            <a href="/"><button>GO BACK</button></a>
        </div>
        <div class="button">
            <div class="topbutton">
                <a href=/Register><button>Register</button></a>
                <a href=/view><button>View</button></a><br>
            </div>
            <div class="bottombutton">
                <a href=/update><button>Update</button></a>
                <a href=/delete><button>Delete</button></a>
            </div>
        </div>
    </body>
</html>