<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rochester&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="banner-section">
            <img src="../static/images/banner.jpg">
        </div>
        <div class="hero-section">
            <div class="sub-hero-section-1">
                <img src="../static/images/admissions.jpg" alt="">
            </div>
            <div class="sub-hero-section-2">
                <a href='/admission'> <h1>Manage Admissions</h1> </a>
                <img src="../static/images/college2.jpg" alt="">
            </div>
        </div>
        <div clas="gallery-section">
            <div class="sub-gallery">
                <h1>NRCM GALLERY</h1>
            </div>
            <div class="sub-gallery-pics">
                <img id="play" class="pic" src="../static/images/play.jpg">
                <img class="pic" src="../static/images/students.jpg">
                <img class="pic" src="../static/images/dining.jpg">
                <img  class="pic" src="../static/images/seminar.jpg">
                <img  class="pic" src="../static/images/graduation.jpg">
            </div>
        </div>
        <div class="volunteer-section">
            <div class="sub-volunteer-section-1">
                <img src="../static/images/hr.jpg">
            </div>
            <div class="sub-volunteer-section-2">
                <h1>CONTACT OUR VOLUNTEER</h1>
                <P>For any Assistance  or any difficulties
                    in the process of admissions,
                    please feel free  to reach out to our volunteers</P>
                <p>she will take care of your pickup and accomodation
                    and also she will be the t you for the campus tour </p>
                <div class="sec">    
                    <p>(+91)123-456-789<br>
                        admission@nrcm.com
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-section">
            <div class="sub-footer-section-1">
                <h1>ADDRESS</h1>
                <p>Maisammaguda,Kompally<br>
                   Secunderabad,500100<br>
                   Telangana,India 
                </p>
            </div>
            <div class="sub-footer-section-2">
                <form action="/call-form" method="post">
                    <input type="text" name="name" placeholder="ENTER YOUR NAME">
                    <input type="email" name="email" placeholder="ENTER YOUR email">
                    <input type="text" name="phone" placeholder="phone">
                    <select name="course">
                        <option value="selectcourse">selectcourse</option>
                        <option value="CSE">CSE</option>
                        <option value="ECE">ECE</option>
                        <option value="CyberSecurity">CyberSecurity</option>
                        <option value="Mech">Mech</option>
                        <option value="Civil">Civil</option>
                    </select><br>
                    <input type="submit" value="call me">
                </form>
            </div>
            <div class="sub-footer-section-3">
                <h1>CONTACT</h1>
                <p>Landline:040-29705454<br>
                   Email:principal@nrcmec.org<br>
                   Website:www.nrcmec.org
                </p>
            </div>
        </div>
        <div class="copyright">
            <h3>Copy Rights:All Rights are preserved@2023</h3>
        </div>
    </body>
</html>